FROM php:{{ php }}-cli

{# Install base dependencies -#}
RUN apt-get update \                               

{#- Skip recommended installs to reduce image size #}
    && apt-get install -y --no-install-recommends \
        git \
        ssh \

{#- Install packages specific to a PHP version #}
{%- if php === "7.3" %}
        libbz2-dev \
{%- endif %}

{#- Add a line that'll always be executed to end correctly after adding the escape (\) character on each line #}
    && echo "Finished installing packages"

{# Get Composer #}
COPY --from=composer:1 /usr/bin/composer /usr/bin/composer

{#- Install Node.js #}
RUN curl -sL https://deb.nodesource.com/setup_{{ node }}.x | bash - \
    && apt-get install -y --no-install-recommends nodejs \

{#- Clean APT cache #}
    && rm -rf /var/lib/apt/lists/* \
    && apt-get clean
